<aside class="sidebar static">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome {{user.username}}</h5>
        <div class="widget">
            <ul class="naves">
                <li>
                    <i class="ti-clipboard"></i>
                    <a href="{% url 'home' %}" title="">News feed</a>
                </li>
                <li>
                    <i class="ti-power-off"></i>
                    <a href="{% url 'logout' %}" title="">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</aside>