{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="jumbotron" style="color:black">
        <h1 style="color: white">Get the latest news updates in your feed</h1>
    </div>
    <div class="card mb-3 box" style="max-width: 320px;">
        <div class="card-body">
          <h4 class="card-title">Hi {{user.username}}</h4>
          <a href="{% url 'logout' %}" class="card-link">Log Out</a>
        </div>
    </div>
    <div class="container">
        {% for value in data %}
        <div class="card mb-3 box" style="max-width: 640px; margin:auto;">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{value.username}}</a></h5>
                        <p class="card-text">{{value.content}}</p>
                        <p class="card-text"><small class="text-muted">{{value.publishedat}}</small></p>
                        <p class="card-text"><small class="text-muted">Polarity = {{value.polarity.compound}}</small></p>
                    </div>
                </div>

                <div class="col-md-4 img-box">
                    <img src="{{value.image}}" class="card-img" alt="..." height="100%">
                </div>
            </div>
        </div>    
        {% endfor %}
      </div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}